
.aboutPage{
    height: 100vh;
    position:static;
}


.titleAbout{
    margin-top: 40px;
    width: 490px;
height: 96px;
margin-left:70px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 96px;

color: #8A3A3C;

}


.aboutText{
    margin-left:70px;
    margin-right:70px ;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
color:#F8F7F9;
}